*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  background-image: url(bopf4Z.jpg);
background-size: cover;
}

.header{
  position: absolute;
    left: 40%;
    top: 300px;
    width: 400px;
    height: 100px;
    background: rgb(6, 7, 7);
  }
