.flex-container{
  border: 3px solid black;
  height: 345px;
  width: 660px;
  display:inline-flex;
  flex-wrap:wrap;
  text-align: center;
  }
  
  
  .child1{
    background-color: yellow;
    width: 130px;
    height: 170px;
    border: 1px solid black;

 }
  .child2{
    background-color: red;
    width: 130px;
    height: 170px;
    border: 1px solid black;

  }
  .child3{
    background-color: rgb(104, 20, 240);
    width: 130px;
    height: 170px;
    border: 1px solid black;

  }.child4{
    background-color: rgb(231, 29, 181);
    width: 130px;
    height: 170px;
    border: 1px solid black;

  }.child5{
    background-color: yellow;
    width: 130px;
    height: 170px;
    border: 1px solid black;

  }.child6{
  
    background-color:red;
    width: 130px;
    height: 170px;
    border: 1px solid black;

  }.child7{
    background-color:blue;
    width: 130px;
    height: 170px;
    border: 1px solid black;

  }.child8{
    background-color: rgb(238, 22, 173);
    width: 130px;
    height: 170px;
    border: 1px solid black;

  }.child9{
    
    background-color:yellow;
    width: 130px;
    height: 170px;
    border: 1px solid black;

  }.child10{
  
    background-color:red;
    width: 130px;
    height: 170px;
    border: 1px solid black;

  }



  .flex-container1{
    border: 3px solid black;
    height: 690px;
    width: 396px;
    display:inline-flex;
    flex-wrap:wrap;
    text-align: center;
    margin: 10px;
    }
    
    
    .child-1{
      background-color: yellow;
      width: 130px;
      height: 170px;
      border: 1px solid black;
  
   }
    .child-2{
      background-color: red;
      width: 130px;
      height: 170px;
      border: 1px solid black;
  
    }
    .child-3{
      background-color: rgb(104, 20, 240);
      width: 130px;
      height: 170px;
      border: 1px solid black;
  
    }.child-4{
      background-color: rgb(231, 29, 181);
      width: 130px;
      height: 170px;
      border: 1px solid black;
  
    }.child-5{
      background-color: yellow;
      width: 130px;
      height: 170px;
      border: 1px solid black;
  
    }.child-6{
    
      background-color:red;
      width: 130px;
      height: 170px;
      border: 1px solid black;
  
    }.child-7{
      background-color:blue;
      width: 130px;
      height: 170px;
      border: 1px solid black;
  
    }.child-8{
      background-color: rgb(238, 22, 173);
      width: 130px;
      height: 170px;
      border: 1px solid black;
  
    }.child-9{
      
      background-color:yellow;
      width: 130px;
      height: 170px;
      border: 1px solid black;
  
    }.child-10{
    
      background-color:red;
      width: 130px;
      height: 170px;
      border: 1px solid black;
      flex-grow: 1;

    }
    .flex-container2{
      border: 3px solid black;
      height: 180px;
      width: 200px;
      
      display: inline-block;
      flex-wrap: wrap;
      text-align: center;
      margin: 10px;
      }
      
      .child{
        width: 50px;
        height: 70px;
        border: 1px solid black;
      }
      .child-a1{
        background-color: yellow;
        
    
     }
      .child-a2{
        background-color: red;
        
    
      }
      .child-a3{
        background-color: rgb(104, 20, 240);
        
    
      }.child-a4{
        background-color: rgb(231, 29, 181);
        
      }.child-a5{
        background-color: yellow;
      
    
      }.child-a6{
      
        background-color:red;
        
      }.child-a7{
        background-color:blue;
        
    
      }.child-a8{
        background-color: rgb(238, 22, 173);
        
    
      }.child-a9{
        
        background-color:yellow;
        
    
      }.child-a10{
      
        background-color:red;
        
  
      }
      
    