.flex-container2{
  border: 3px solid black;
  height: 330px;
  width: 200px;
  
  display: inline-block;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px;
  }
  
  
  .child-a1{
    background-color: yellow;
    width: 215px;
    height: 30px;
    border: 1px solid black;
    margin-top: 2px;

 }
  .child-a2{
    background-color: red;
    width: 215px;
    height: 30px;
    border: 1px solid black;

  }
  .child-a3{
    background-color: rgb(104, 20, 240);
    width: 215px;
    height: 30px;
    border: 1px solid black;

  }.child-a4{
    background-color: rgb(231, 29, 181);
    width: 215px;
    height: 30px;
    border: 1px solid black;
  }.child-a5{
    background-color: yellow;
    width: 215px;
    height: 30px;
    border: 1px solid black;

  }.child-a6{
  
    background-color:red;
    width: 215px;
    height: 30px;
    border: 1px solid black;
  }.child-a7{
    background-color:blue;
    width: 215px;
    height: 30px;
    border: 1px solid black;

  }.child-a8{
    background-color: rgb(238, 22, 173);
    width: 215px;
    height: 30px;
    border: 1px solid black;

  }.child-a9{
    
    background-color:yellow;
    width: 215px;
    height: 30px;
    border: 1px solid black;

  }.child-a10{
  
    background-color:red;
    width: 215px;
    height: 30px;
    border: 1px solid black;

  }