.container{
  border: 3px solid black;
  height: 110px;
  width: 30rem;
  display:inline-flex;
  flex-wrap:wrap;
  text-align: center;
  }
  
  
  .child1{
    background-color: yellow;
    width: 50px;
    height: 71px;
    border: 5px solid rgb(17, 158, 60);
margin-top: 30px;
 }
  .child2{
    background-color: red;
    width: 50px;
    height: 100px;
    border: 5px solid rgb(8, 150, 27);
flex-grow: 1;
  }
  .child3{
    background-color: rgb(104, 20, 240);
    width: 50px;
    height: 60px;
    border: 5px solid rgb(30, 143, 8);
    margin-bottom: 10;
    flex-grow: 1;

  }.child4{
    background-color: rgb(231, 29, 181);
    width: 50px;
    height: 80px;
    border: 5px solid rgb(12, 165, 19);
  margin-top: 10px;
  }