
.box2{
width: 800px;
height: 300px;
padding-bottom: 40px ;
border: 100px solid rgb(238, 225, 225);
margin-left: 200px;
background-color: rgb(245, 24, 24);
}
.box{position:absolute;
  top: 800px;
  
  left: 700px;
  width: 100px;
    height: 100px;
    margin: 20px;
    border: 100px solid rgb(206, 193, 193);
    padding: 2px;
    background-color: rgb(16, 124, 30);
  }
.box3{ 
  left: 200px;

width: 200px;
height: 300px;
padding: 10px;
border: 100px solid rgb(238, 225, 225);
margin-left: 400px;
background-color: rgb(243, 239, 14);
}
.box4{position:absolute;
  top: 800px;
  
  left: 170px;
  width: 50px;
    height: 150px;
    margin: 10px;
    border: 100px solid rgb(206, 193, 193);
    background-color: rgb(51, 19, 231);
  }
