.flex-container{
  
display: flex;
flex-direction:inherit;
width: 600px;
height: 400px;
border: 1px solid black;

}
.flex-child{
  width: 13px;
  height: 398px;
  border: 1px solid green;}

  .flex-child1{
    width: 15px;
    height: 398px;
    border: 1px solid green;
  
  }