.flex-container{
  display: inline-flex;
  width: auto;
  height: 300px;
  margin: 20px;
  color: green;
  border: 1px solid black;
}
.flex-child{
  display: flex;
  width: 50px;
  height: 300px;
  border: 1px solid black;
}